{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="d-flex flex-row m-2  ">
            {% if request.user.is_authenticated %}
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">{{ request.user.nome_completo }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Informações pessoais</h6>
                    <p class="card-text">Data de Nascimento: {{ request.user.data_nascimento }}, {{ request.user.idade}} anos</p>
                    <p class="card-text">CPF: {{ request.user.cpf }}</p>
                    <p class="card-text">Covid nos ultimos 30 dias : {{ request.user.covid_recente }}</p>
                    <p class="card-text">Grupos de atendimento: {{ request.user.get_grupos}}</p>
                    <p class="card-text">Apto para o agendamento: {{ request.user.able_to_schedule }}  </p>
                  </div>
                 </div>
            {% endif %}
        </div>
            {% if request.user.is_authenticated %}
                <div class="d-flex flex-row flex-wrap">
                    {% for agendamento in agendamentos %}
                        <div class="card m-2" style="width: 20rem ">
                            <div class="card-body">
                                <h5 class="card-title">
                                    {{ agendamento.estabelecimento.cnes}} -
                                    {{ agendamento.estabelecimento.nome }}
                                </h5>
                                <p class="card-text"> {{ agendamento.data_agendamento}}
                                    AS {{ agendamento.hora }}
                                </p>
                                <p class="card-text">{{ agendamento.dia_extenso }}</p>
                                <p class="card-text">{{ agendamento.status}}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

    </div>

{% endblock content %}

