{% extends 'base.html' %}
{% load static %}

{% block content %}


<style type="text/css">

  .card-agendamento {
	  width: 100%;
	  max-width: 400px;
	  padding: 15px;
	  margin: auto;
  }

  .form-signin input[type="email"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="text"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }


</style>

<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="card card-agendamento">
		  <div class="card-body">
		    <form class="form-signin" action="{% url 'agendamento' %}" method="post">{% csrf_token %}
            
                <select name="estabelecimento" id="inputEstabelecimento"  class="form-control">
                    {% for estabelecimento in estabelecimentos %}
                        <option value="{{ estabelecimento.id }}">{{ estabelecimento.nome }} {{ estabelecimento.cnes }}</option>
                    {% endfor %}
                </select>

                <input type="date" name="data_agendamento" id="inputDataAgendamento" class="form-control"  required>

				{% for field in registration_form %}
				<p>
				{% for error in field.errors %}
				<p style="color: red">{{ error }}</p>
				{% endfor %}
				</p>
				{% endfor %}
				{% if registration_form.non_field_errors %}
				<div style="color: red">
					<p>{{registration_form.non_field_errors}}</p>
				</div>

				{% endif %}

				<button class="btn btn-lg btn-primary btn-block" type="submit">Buscar Horarios</button>
            </form>
                <form class="form-signin" action="">{% csrf_token %}
                    <select name="horario" id="inputHorario" class="form-control">
                        {% for horario,key in horarios %}
                            <option value="{{ key }}">{{ horario }}</option>
                        {% endfor %}

                    </select>
                </form>

                {% for horario in horarios %}
                    {% for key,hora in horario.items %}
                        <p>{{ key }} {{ hora }}</p>
                       {% endfor %}
                {% endfor %}



		  </div>
		</div>

	</div>
</div>
<script>
    $(document).ready(function (){
        $("inputHorario").datepicker();
    })
</script>




{% endblock content %}