{% extends 'base.html' %}
{% load static %}

{% block content %}


<style type="text/css">

  .card-agendamento {
	  width: 100%;
	  max-width: 400px;
	  padding: 15px;
	  margin: auto;
  }

  .form-signin input[type="text"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }


</style>

<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="card card-agendamento">
		  <div class="card-body">
		    <form class="form-signin" data-horas-url="{% url 'ajax_load_horas' %}" id="agendamentoForm"  method="post">{% csrf_token %}
            
                <select name="estabelecimento" id="inputEstabelecimento"  class="form-control">
                    {% for estabelecimento in estabelecimentos %}
                        <option value="{{ estabelecimento.id }}">{{ estabelecimento.nome }} {{ estabelecimento.cnes }}</option>
                    {% endfor %}
                </select>

                <input id="inputDataAgendamento" type="date" name="data_agendamento"    required>

                <select name="horario" id="inputHorario" class="form-control">
                        {% for horario,key in horarios %}
                            <option value="{{ key }}">{{ horario }}</option>
                        {% endfor %}

                    </select>

				{% for field in registration_form %}
				<p>
				{% for error in field.errors %}
				<p style="color: red">{{ error }}</p>
				{% endfor %}
				</p>
				{% endfor %}
				{% if registration_form.non_field_errors %}
				<div style="color: red">
					<p>{{registration_form.non_field_errors}}</p>
				</div>

				{% endif %}

				<button class="btn btn-lg btn-primary btn-block" type="submit">Buscar Horarios</button>
            </form>
		  </div>
		</div>

	</div>
</div>


    <script>
        $("#inputDataAgendamento").change(function () {
        var url = $("#agendamentoForm").attr("data-horas-url");  // get the url of the `load_cities` view
        var dateId = $(this).val();
        var estabelecimentoID = $("#inputEstabelecimento").val();
        console.log(estabelecimentoID);// get the selected country ID from the HTML input
        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
            data: {
            'data_agendamento': dateId,
            'estabelecimento': estabelecimentoID// add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
            $("#inputHorario").html(data);  // replace the contents of the city input with the data that came from the server
            }
        });
    });
  </script>



{% endblock content %}

